.experience-grid {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: space-evenly; /* Evenly distribute items */
  gap: 1rem; /* Add consistent spacing between items */
  margin-top: 5rem;

  p,
  h2 {
    margin: 0;
  }
}

.individual-experience {
  flex: 0 0 337px; /* Set each item to a fixed width of 337px */
  max-width: 337px; /* Prevent items from exceeding this width */
  height: auto; /* Allow height to be defined by content */
  margin: 1rem; /* Add spacing between items */

  .experience-date,
  .about-experience {
    margin-top: 1rem;
  }

  .experience-img,
  video,
  .video-responsive {
    width: 337px; /* Set fixed width */
    height: 223px; /* Set fixed height */
    object-fit: cover; /* Ensure images fit nicely without distortion */
  }

  h2 {
    font-size: 32px;
  }
}
