@import "src/utilities/sass_constants.scss";

.header {
  height: 60px;
  background-color: $background_color;
  border: 1px solid rgba(112, 112, 112, 0.1216);
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: 2000;
  .hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }

  .header-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    a {
      font-weight: 700;
    }
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .header-center {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: $background_color;
      gap: 1rem;
      padding: 1rem 0;
      display: none;
    }

    .header-center.open {
      display: flex;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    }
  }
}
